asyncio
aiofiles
aiohttp
aioshutil
anytree
apscheduler
dnspython
fastapi
gunicorn
jinja2
lxml
natsort
pillow
psutil
pymongo
wzgram
python-magic
pytz
niquests
tenacity
uvicorn
uvloop
yt-dlp[default,curl-cffi]
